html body {
    text-align: center;
    margin-top: 20px;
}

.btn-primary{
    margin-right: 5px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.word-area {
    border: 2px solid black;
    width: 900px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.word-area div {
    height: 45px;
    width: 30px;
    float: left;
    border: 2px solid black;
    font-size: 30px;
    margin-top: 8%;
    margin-right: 20px;
    text-align: center;
    margin-left: 24px; 
    
}

.info {



}


#music-icon{
    width: 75px;
    height: 75px;
    position: relative;
    left: 200px;
}