.word-area {
    border: 2px solid black;
    width: 900px;
    height: 200px;
    margin: auto;
}

.word-area div {
    height: 35px;
    width: 30px;
    float: left;
    border: 2px solid black;
    font-size: 30px;
    margin-top: 8%;
    margin-right: 20px;
    text-align: center;
    margin-left: 20px;   
}